body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 20px 50px 40px #0c1729, -10px 0 40px 30px #0c1729;
}


/* .image-container {
    
} */

.image-equilibrium {
  
    border-radius:10px;
    width: 300px;
    margin-top: 10px;
}

.content-container {
  padding:0 25px 0 25px; 
}

.title {
    color: hsl(0, 0%, 100%);
}

.content {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 400;
} 

.sub_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subtitle {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.sub-title {
    margin-left: 7px;
    color: hsl(178, 100%, 50%); 
    font-weight: 600;   
}

.clock-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
   
.clock {
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
    font-weight: 400;
}

.horizontal-rule {
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border: none;
}

.credit-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}

.image-avatar {
   width: 30px;
   height: 30px;
   border: 1px solid hsl(0, 0%, 100%);
   border-radius: 50%;
}

.credit {
    color: hsl(215, 51%, 70%);
    padding-left: 10px;
    font-weight: 400;
   
}

.name {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.attribution { 
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center;
    margin: 15px;

 }
.attribution a {
    color: hsl(228, 45%, 44%); 
        }